* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --font-txt: "Merriweather Sans", sans-serif;
  --font-head1: "Nova Square", sans-serif;;
  --font-head2: "Nova Slim", system-ui;;
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: var(--font-head1);
  font-size: 1.8rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}